{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Мои объявления
{% endblock title %}

{% block content %}
<hr class="my-4" />
<style>
    .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    }
</style>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
<hr class="my-4" />
{% for announcement in response_search %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <h2 class="post-title">{{ announcement.a_header }} </h2>
                <h5>Категория: {{ announcement.get_category_choice_display }}</h5>
                <p class="post-meta">
                    За авторством
                    {{ announcement.a_author }},
                    {{ announcement.a_create_time }}
                </p>
                <a href="{% url 'announcement_detail' announcement.id %}" class="btn">Перейти к объявлению</a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>
    </div>
 </div>
{% endfor %}
{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}